<p>I'm App Component</p>

<hr />

<app-servers></app-servers>

<p class="heading">first assignment: success and warning components</p>
<div class="d-flex">
  <app-success-alert [btnStatus]="toggleBtnStatus"></app-success-alert>
  <app-warning-alert [btnStatus]="toggleBtnStatus"></app-warning-alert>
  <div>
    <button (click)="onClick()" class="btn btn-primary" style="margin: 1rem">
      Enable Success/Warning Btn
    </button>
  </div>
</div>

<br />
<hr />

<!-- <div style="display: flex">
  <span style="margin-right: 1rem; max-width: 10rem; display: inline-block"
    >Test [(ngModel)] by typing stuff here and see it render below</span
  >
  <span style="justify-items: center"
    ><input type="text" [(ngModel)]="title"
  /></span>
</div>

<div style="margin-top: 1rem">
  <span style="background-color: yellow">{{ title }}</span>
</div> -->

<div style="margin: 1rem">
  <p class="heading">second assignment: practice data binding</p>

  <input type="text" [(ngModel)]="username" placeholder="input username here" />

  <p>username is: {{ username }}</p>

  <button
    class="btn btn-warning"
    [disabled]="!isUsernameNotEmptyString"
    (click)="resetUsername()"
  >
    Reset Username
  </button>
</div>
