<p>I'm App Component</p>

<app-servers></app-servers>

<app-warning-alert></app-warning-alert>

<app-success-alert></app-success-alert>

<br />
<br />

<hr />

<br />
<br />

<div style="display: flex">
  <span style="margin-right: 1rem; max-width: 10rem; display: inline-block"
    >Test [(ngModel)] by typing stuff here and see it render below</span
  >
  <span style="justify-items: center"
    ><input type="text" [(ngModel)]="title"
  /></span>
</div>

<div style="margin-top: 1rem">
  <span style="background-color: yellow">{{ title }}</span>
</div>
